@import 'tailwindcss/base';

@import 'tailwindcss/components';
@import './common/buttons.css';
@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-full shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 transition-colors duration-150;
  }
  .input {
    @apply mb-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-gray-50 disabled:text-gray-500 disabled:border-gray-200 disabled:shadow-none
        invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
  .input__error {
    @apply mt-2 invisible peer-invalid:visible text-pink-600 text-sm;
  }
}

@import 'tailwindcss/utilities';

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  @apply font-body;
}
