@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './common/buttons.css';
@import 'tailwindcss/utilities';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  @apply font-body text-neutral-100 bg-neutral-100 min-h-full;
}

#root {
  height: 100%;
}
