@tailwind components;
@layer components {
  /* color */
  .btn-primary {
    @apply bg-rose-600 text-neutral-100 shadow-sm
    transition-colors hover:bg-rose-800;
  }

  .btn-secondary {
    @apply bg-violet-500 text-zinc-50 hover:bg-rose-700 shadow-sm
    transition-colors;
  }

  /* state */
  .btn-ghost {
    @apply bg-transparent border border-rose-800 text-rose-800 font-semibold
    hover:bg-rose-800 hover:text-neutral-100 transition-colors;
  }

  .btn-outline {
  }

  /* size */
  .btn-sm {
    @apply px-2 py-1 text-xs font-semibold;
  }

  .btn-md {
    @apply px-4 py-2 font-semibold;
  }

  .btn-lg {
    @apply px-6 py-4 font-semibold;
  }

  .btn-delete {
    @apply py-2 px-4 bg-purple-500 text-white font-semibold transition-colors
    rounded-lg hover:bg-purple-600;
  }

  /* input */
  .input {
    @apply block w-full px-3 py-2 rounded-md text-sm shadow-sm bg-white border border-rose-500 text-neutral-800
    placeholder:text-rose-800/75
    focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-400
    disabled:bg-neutral-300 disabled:text-neutral-800/50 disabled:border-neutral-400 disabled:shadow-none disabled:placeholder:text-neutral-800/50
    invalid:border-red-400 invalid:text-red-600 focus:invalid:border-red-400 focus:invalid:ring-red-500;
  }

  /* label 태그에 할당 */
  .input-file {
    input {
      @apply hidden;
    }
    button {
      @apply btn-primary;
    }
  }

  .input-error {
    @apply text-rose-700 text-xs mt-1;
  }
}
